body{background-color: rgb(192, 192, 192);}
.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 15%;
    width: 75%;
    justify-content: space-between;
    gap: 15px;
    background-image: url(./images/);
    margin-left: 13%;
}

#titulo__principal {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    font-size: medium;
    justify-content: center;
}


.aviso__carrito__invisible{
    display: inline-block;
    font-weight: 200;
    font-size: 25px;    
    color: red;
    background-color: cornflowerblue;
    -webkit-animation: flicker-in-1 3s linear both;
	        animation: flicker-in-1 3s linear both;
   
}
@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.producto {
    display: flex;
    flex-direction: column;

    width: 15%;
    border-radius: 10px;
   
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.producto:hover {
    animation-delay: 1s;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    border-radius: 5px;
}



.titulo__producto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen__producto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;

}

.imagen__tambor {
    display: flex;
    justify-content: center;

}

.parrafo__producto {
    font-size: 20px;
    margin-left: 10%;
    display: inline;
}

#carrito_aparece {
    display: flex;
    flex-direction: row;
}

#limpiar__carrito {
    position: sticky;
    top: 5%;
    right: 10%;
}

.producto__carrito__aparece{
  display: flex;
  justify-content: space-evenly;
}

.carrito__contenedor {
    background-color: rgb(122, 122, 239);
    animation: myAnim 2s ease 0s 1 normal forwards;
    position: sticky;
    top: 5%
}
#monto__final__carrito{
  font-size: xx-large;
  background-color: aquamarine;
  display: inline;
  position:relative;
  left:48%;
font-family: sans-serif; 
font-weight: 400; 
color: #ffffff; 
background:#ee0467;
padding: 20px;
overflow: hidden;
border-radius: 35px 0px 35px 0px;
-moz-border-radius: 35px 0px 35px 0px;
-webkit-border-radius: 35px 0px 35px 0px;
border: 2px solid #5878ca;
text-align: center;
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;


}

@keyframes myAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateY(-850px);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0);
    }

    55% {
        animation-timing-function: ease-in;
        transform: translateY(-65px);
    }

    72% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    81% {
        animation-timing-function: ease-in;
        transform: translateY(-28px);
    }

    90% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    95% {
        animation-timing-function: ease-in;
        transform: translateY(-8px);
    }

    100% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
}

